---
layout: base
title: 처음
---
<section class="starting-point" id="nav-set" data-aos="fade-in">
    <h1 class="title"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 5a6.41 6.41 0 0 0-3.67-1 6.68 6.68 0 0 0-3.85 1.14A4.66 4.66 0 0 1 9.66 6a4.6 4.6 0 0 1-2.81-.86A6.77 6.77 0 0 0 4 4.07v2a5.07 5.07 0 0 1 1.82.78A6.62 6.62 0 0 0 9.66 8a6.63 6.63 0 0 0 3.85-1.14A4.66 4.66 0 0 1 16.33 6a4.66 4.66 0 0 1 2.82.86c.27.16.54.32.85.47zM20 11a6.41 6.41 0 0 0-3.67-1 6.68 6.68 0 0 0-3.85 1.14 4.66 4.66 0 0 1-2.82.86 4.6 4.6 0 0 1-2.81-.86A6.77 6.77 0 0 0 4 10.07v2a5.07 5.07 0 0 1 1.82.78A6.62 6.62 0 0 0 9.66 14a6.63 6.63 0 0 0 3.85-1.14 4.66 4.66 0 0 1 2.82-.86 4.66 4.66 0 0 1 2.82.86c.27.16.54.32.85.47zM16 16a6.71 6.71 0 0 0-3.52 1.13 4.66 4.66 0 0 1-2.82.87 4.6 4.6 0 0 1-2.81-.86A6.77 6.77 0 0 0 4 16.07v2a5.07 5.07 0 0 1 1.82.78A6.62 6.62 0 0 0 9.66 20a6.63 6.63 0 0 0 3.85-1.14A4.69 4.69 0 0 1 16 18zM18 16.18v2.08a7.88 7.88 0 0 1 1.15.6c.27.16.54.32.85.47V17a6.76 6.76 0 0 0-2-.82z"/></svg><br><span>환승역 파도는 틈새다.<br>다다름이 쓰임으로 지나간다.</span></h1>
</section>
<!--
<section class="recent-story post-list">
        {% for post in site.categories.story limit:3 %}
            <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item" title="{{ post.title | prepend : 'Read' }}" data-aos="fade-in">
                <div class="post-thumbnail"><div class="img-source" style="background-image: url('{{ post.thumbnail | absolute_url }}')"></div></div>
                <div class="post-description">
                    <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                    <div class="post-intro">
                        <h2>{{ post.title }}</h2>
                        <p class="post-excerpt">{{ post.excerpt }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
    <section class="btn-point">
            <a href="{{ 'story' | relative_url }}" title="Story" class="btn-list">이야기 더보기</a>
</section>
-->
<section class="recent-article post-list">
    {% for post in site.categories.design-teatime limit:3 %}
        <a title="{{ post.title }}" href="{{ post.url }}" class="post-list-item" title="{{ post.title | prepend : 'Read' }}" data-aos="fade-in">
            <div class="post-thumbnail"><div class="img-source" style="background-image: url('{{ post.thumbnail | absolute_url }}')"></div></div>
            <div class="post-description">
                <time datetime="{{ post.date }}">{{ post.date | date : "%b %d %Y"}}</time>
                <div class="post-intro">
                    <h2>{{ post.title }}</h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</section>
<section class="btn-point">
        <a href="{{ 'article' | relative_url }}" title="Articles" class="btn-list">디자인 티타임 더보기</a>
</section>
<section class="about-point" data-aos="fade-in">
    <div class="left-script">
        <h2>쓰는 사람</h2>
        <p class="op75">혼자서 오손도손 글쓰는 집돌이 🏠<br>환승역 파도에서 짧은 소설(준비중)이나 인터렉션 디자인에 대한 사설을 쓰고 있습니다.</p>
    </div>
    <!--
    <a href="{{ 'about' | relative_url }}" title="About Me">좀더 말해봐요<i class='bx bxs-right-arrow-square'></i></a>
    -->
</section>
<script>
    const topNav = document.getElementById('nav')
    const navSet = document.getElementById('nav-set')

    window.onscroll = () => {
        if(window.pageYOffset >= navSet.offsetHeight) topNav.classList.add('show')
        else topNav.classList.remove('show')
    }

    document.getElementById('btn-starting').classList.remove('op75')
</script>