@font-face {
    font-family: 'RIDIBatang';
    src: url('RIDIBatang.eot');
    src: url('RIDIBatang.eot?#iefix') format('embedded-opentype'),
        url('RIDIBatang.woff2') format('woff2'),
        url('RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}