<footer id="footer">
    <span>
        <a id="home-page" href="{{ "/" | relative_url }}" title="Design Teatime">환승역 파도</a>
        <a href="{{ 'story' | relative_url }}" title="Stories">이야기</a>
        <a href="{{ 'article' | relative_url }}" title="Articles">디자인 티타임</a>
        <!-- <a href="{{ 'about' | relative_url }}" title="About Me">쓰는 사람</a> -->
    </span>
    <span>
        <a id="mail-link" href="mailto:{{ site.email }}" title="Email"><i class='bx bx-envelope'></i><span class="link-copy"> {{ site.email }}</span></a>
        <a id="rss-link" href="{{ site.url | escape }}/feed.xml"><i class='bx bx-rss'></i><span class="link-copy"> RSS</span></a>
    </span>
</footer>