<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.title == 'intro' %}{{ site.description }}{% else  %}{{ page.excerpt }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="google-site-verification" content="Q1Gkv54gFGh2MxaT7ehKmua6BROtBIJR_ki_z_1_EwE" />
    <meta name="naver-site-verification" content="d9a8213816d39cd0b58123c579fb50704ab632a8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content='{%- if page.title != "intro" -%}{%- if page.title != "about" -%}{{ page.title | escape }}{% else %}About Designer Junhwan Lee{%- endif -%}&nbsp;-&nbsp;{%- endif -%}{{ site.title | escape }}'>
    <meta property="og:url" content="https://dewberry9.github.io{{ page.url | escape }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="design-teatime">
    <meta property="og:description" content="{% if page.title == 'intro' %}{{ site.description }}{% else  %}{{ page.excerpt }}{% endif %}">
    <meta property="og:image" content='{%- if page.title != "intro" -%}{%- if page.title != "about" -%}{{ page.thumbnail  | absolute_url }}{% else %}{{ "assets/images/ogimage.jpg" | absolute_url }}{%- endif -%}{% else %}{{ "assets/images/ogimage.jpg" | absolute_url }}{%- endif -%}'>
    <link rel="stylesheet" href="{{ "assets/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/dist/aos.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "assets" | relative_url }}/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Fira+Mono:500|Poppins:600,800,900" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="canonical" href="https://dewberry9.github.io">
    <title>{%- if page.title != "intro" -%}{%- if page.title != "about" -%}{{ page.title | escape }}{% else %}About Designer Junhwan Lee{%- endif -%}&nbsp;|&nbsp;{%- endif -%}{{ site.title | escape }}</title>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '384265865705670');
        fbq('track', 'PageView');
    </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=384265865705670&ev=PageView&noscript=1"/></noscript>
  <!-- End Facebook Pixel Code -->
</head>