@charset "utf-8";

$base-font-family: "Spoqa Han Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;
$base-font-weight: 400 !default;
$base-line-height: 1.8 !default;
$base-font-size: 1em !default;
$small-font-size: 0.8em !default;
$title-font-family: "Nanum Myeongjo";

$text-color: #514f59 !default;
$background-color: #fff !default;
$primary-color: #363059 !default;
$title-color: #484657 !default;

$base-color-tint: #f2f2f2 !default;
$base-color-tone: #c2c2c2 !default;
$base-color-shade: #86868a !default;

$wide-width: 1152px !default;
$normal-width: 960px !default;
$mobile-width: 720px !default;

$wave-background: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%235500cc' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@-webkit-keyframes animated-bubble {
    0% {
        z-index: 10;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes animated-bubble {
    0% {
        z-index: 10;
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes glitch-anim {
    $steps: 30;

    @for $i from 0 through ($steps) {
        #{percentage($i*(1/$steps))} {
            -webkit-clip-path: inset(percentage(random(100) / 100) 0 percentage(random(100) / 100) 0);
                    clip-path: inset(percentage(random(100) / 100) 0 percentage(random(100) / 100) 0);
        }
    }

    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes glitch-anim {
    $steps: 30;

    @for $i from 0 through ($steps) {
        #{percentage($i*(1/$steps))} {
            -webkit-clip-path: inset(percentage(random(100) / 100) 0 percentage(random(100) / 100) 0);
                    clip-path: inset(percentage(random(100) / 100) 0 percentage(random(100) / 100) 0);
        }
    }

    0% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    26% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.op75 {
    opacity: .75;
}

.bx {
    font-size: 1.5rem;
    vertical-align: middle;
}

.disable-txt {
    color: $base-color-tone !important;
}

.hide {
    opacity: 0;
}

.show {
    top: 0 !important;
}

#bubble {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
    height: 300%;
    -webkit-animation: animated-bubble 0.8s ease forwards;
    animation: animated-bubble 0.8s ease forwards;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 800;
    color: $title-color;
    font-family: $title-font-family;
}

h1 {
    line-height: 1 !important;
    font-size: 2.25rem;

    @include media-query($mobile-width) {
        font-size: 1.5rem;
    }
}

h2 {
    font-size: 1.375rem;
    line-height: 1.5;

    @include media-query($mobile-width) {
        font-size: 1.25rem;
    }
}

h3 {
    line-height: 1 !important;
    font-size: 1.25rem;

    @include media-query($mobile-width) {
        font-size: 1.125rem;
    }
}

strong {
    font-weight: bold;
}

::selection {
    background: $primary-color;
    color: #fff;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: $base-color-shade;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &:hover {
        color: $base-color-tone;
    }
}

blockquote {
    position: relative;
    font-weight: bold !important;
    color: $base-color-shade;
    padding-left: 1rem;
    margin-left: 1rem;

    &::before {
        top: 0;
        left: 0;
        content: '';
        position: absolute;
        width: 0.25rem;
        background-color: $base-color-tone;
        height: 100%;
    }

    * {
        margin: 0.5rem 0 !important;

        &:last-child {
            color: $base-color-tone;
        }
    }

    @include media-query($mobile-width) {
        padding-left: 0.75rem;

        &::before {
            width: 0.2rem;
        }

        * {
            margin: 0.25rem 0 !important;
        }
    }
}

pre,
code {
    font-family: 'Fira Mono', sans-serif;
    font-weight: bold;
    background-color: $base-color-tint;
    color: $base-color-shade;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;

    @include media-query($mobile-width) {
        font-size: 0.75rem;
        padding: 0.125rem 0.25rem;
        border-radius: 0.125rem;
    }
}

span.block {
    background-color: $primary-color;
    width: 8px;
    height: 8px;
    float: right;
    margin-top: 8px;

    &:not(:first-child) {
        margin-right: 4px;
    }

    @include media-query($mobile-width) {
        display: none;
    }
}

#article-page {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-bottom: 2rem;
}

#article-page section,
.recent-article {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

section {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: calc((100vw - #{$wide-width}) / 2);
    padding-right: calc((100vw - #{$wide-width}) / 2);

    &.starting-point {
        padding-top: 120px;

        .title {
            width: 100%;
            font-family: $title-font-family;
            line-height: 1.5 !important;
            color: $primary-color;
            padding-left: 1.25rem;

            span {
                position: relative;
                display: inline-block;

                &::before,
                &::after {
                    content: '환승역 파도는 틈새다. \A 다다름이 쓰임으로 지나간다.';
                    white-space: pre;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $background-color;
                    opacity: .5;
                }

                &::before {
                    left: -8px;
                    text-shadow: -1px 0 #14fac8;
                    animation: glitch-anim 4s infinite linear alternate-reverse;
                }

                &::after {
                    left: 8px;
                    text-shadow: 1px 0 #ff52c8;
                    animation: glitch-anim 3s infinite linear alternate-reverse;
                }
            }

            svg {
                fill: $primary-color;
                width: 44px;
            }
        }
    }

    &.btn-point {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        .btn-list {
            font-weight: bold;
            color: $text-color;
            border-bottom: 2px solid $text-color;

            &:hover {
                color: $base-color-tone;
                border-color: $base-color-tone;
            }
        }
    }

    &.about-point {
        background-color: $primary-color;
        padding-top: 120px;
        padding-bottom: 120px;
        margin-top: 56px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        h2 {
            color: $background-color !important;
            line-height: 1;
            margin-bottom: .5rem;
        }

        p {
            font-size: .875rem;
            color: $base-color-tint;
        }

        a {
            color: $base-color-tint;

            i {
                margin-left: 4px;
            }

            &:hover {
                color: $background-color;
            }
        }

    }

    &.post-list,
    &.post-content {
        margin-top: 56px;
        padding-top: 1.5rem;
    }

    &.post-content {
        margin-bottom: 4rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: calc((100vw - #{$normal-width}) / 2);
        padding-right: calc((100vw - #{$normal-width}) / 2);

        .post-title {
            width: 100%;
            text-align: center;
            margin: 4rem 0 1rem 0;
            position: relative;

            h1 {
                -webkit-animation: fade-in 0.4s ease;
                animation: fade-in 0.4s ease;
            }
        }

        &:not(:first-child) {
            -webkit-animation: fade-in 0.8s ease;
            animation: fade-in 0.8s ease;
        }

        .post-date {
            display: block;
            margin-bottom: 4rem;
            color: $base-color-tone;
            font-size: 0.75rem;
        }

        div {
            width: 100%;

            >p.infor {
                padding: 0 4rem;
                color: $base-color-shade;
                font-size: 1rem;

                &::before {
                    content: "*"
                }
            }

            >p.refer,
            >p.indent,
            h3,
            ul,
            ol {
                padding: 0 calc((100% - #{$mobile-width}) / 2);
            }


            >p.refer {
                margin-top: 4rem;
            }

            >p.indent {
                text-indent: .5rem;
            }

            p {
                margin: 1rem 0;
                line-height: 2;
            }

            h3 {
                margin: 6rem 0 4rem;
                text-align: center;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 1rem;
            }

            p,
            li {
                font-size: 1rem;
            }

            ul,
            ol {
                padding-left: calc((100% - #{$mobile-width}) / 2 + 1rem);
            }
        }
    }

    .post-list-item {
        color: $text-color;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1.5rem;
        width: 376px;
        -webkit-transition: .3s ease;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        margin-bottom: 1rem;

        * {
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }

        .post-description {
            font-size: .875rem;
            color: $base-color-shade;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding-left: .25rem;

            &::before {
                content: '';
                position: relative;
                border-left: 1px solid $base-color-tone;
                top: -48px;
                left: 8px;
                height: 48px;
                opacity: .5;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }

            time {
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                padding-top: .5rem;
                letter-spacing: 1px;
                color: $base-color-tone;
                -webkit-writing-mode: vertical-lr;
                    -ms-writing-mode: tb-lr;
                        writing-mode: vertical-lr;
                font-size: .5rem;
            }

            .post-intro {
                margin-left: 1rem;

                h2 {
                    letter-spacing: -0.2px;
                    margin-bottom: .5rem;
                }
            }

        }

        .post-thumbnail {
            margin-bottom: 1.5rem;
            overflow: hidden;
            width: 100%;
            height: 215px;

            .img-source {
                width: 100%;
                height: 100%;
                position: relative;
                background-size: cover;
                background-position: center center;

                &::before {
                    content: '';
                    background-color: $primary-color;
                    display: block;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    top: 0;
                    left: 0;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }

        }

        &:hover {
            .post-description {
                &::before {
                    height: 36px;
                }

                time {
                    padding: 0;
                }

                h2 {
                    color: $base-color-shade;
                }

                .post-excerpt {
                    color: $base-color-tone;
                }
            }


            .post-thumbnail .img-source {
                -webkit-transform: scale(1.1);
                        transform: scale(1.1);

                &::before {
                    opacity: .25;
                }
            }
        }
    }

    .pagination {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 2rem auto 4rem;
        font-weight: bold;
        font-size: 0.875rem;

        * {
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;
        }

        a {
            margin: 0 1rem;

            * {
                vertical-align: middle;
            }
        }

        .now-page {
            color: $primary-color;
            border-bottom: 2px solid $primary-color;
        }
    }

    @include media-query($wide-width) {
        padding-left: calc((100vw - #{$normal-width}) / 2);
        padding-right: calc((100vw - #{$normal-width}) / 2);

        &.post-list {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .post-list-item {
            width: 312px;

            .post-description h2 {
                margin-bottom: 0.5rem;
            }

            .post-thumbnail {
                height: 175px;
            }
        }
    }

    @include media-query($normal-width) {
        padding: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        &.starting-point {
            padding-top: 56px;

            .title svg {
                width: 32px;
            }
        }

        &.starting-point {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &.about-point {
            padding: 56px 1.5rem;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        &.post-content {
            padding: 0 1.5rem;
        }

        &.post-list {
            padding: 1.5rem 1.5rem 0 1.5rem;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .post-list-item {
            width: 49%;

            .post-description h2 {
                margin-bottom: 0.5rem;
            }

            .post-thumbnail {
                height: 175px;
            }

        }
    }

    @include media-query($mobile-width) {
        &.starting-point .title {
            padding-left: .5rem;
        }

        &.about-point {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;

            .left-script {
                -ms-flex-item-align: start;
                    align-self: flex-start;

                p {
                    font-size: .75rem;
                }

                margin-bottom: 1rem;
            }

            a {
                font-size: .875rem;
                -ms-flex-item-align: end;
                    align-self: flex-end;
            }
        }

        &.post-list {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        &.post-content {
            padding: 0 1.5rem;
            margin-bottom: 2rem;

            p {
                margin: 1rem 0;
            }

            h3 {
                margin: 1.5rem 0;
            }

            .post-title {
                margin-top: 1.5rem;
            }

            .post-date {
                margin-bottom: 1rem;
            }

            div {

                >p.refer,
                >p.indent,
                h3,
                ul,
                ol {
                    padding: 0;
                }

                >p.infor {
                    font-size: 0.75rem;
                }

                >p.refer {
                    margin-top: 2rem;
                }

                >p.indent {
                    text-indent: 0.5rem;
                }

                p,
                li {
                    font-size: 1rem;
                }

                ul,
                ol {
                    padding-left: 1rem;
                }
            }
        }

        .post-list-item {
            width: 100%;
            padding: 0.5rem;
            margin-bottom: 1rem;

            .post-thumbnail {
                height: 48vw;
                margin-bottom: 1rem;
            }

            .post-description {
                .post-intro {
                    margin-left: .5rem;

                    h2 {
                        margin-bottom: 0.25rem;
                    }

                    p {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}

.top-nav {
    position: fixed;
    background-color: rgba(255, 255, 255, .95);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 4px rgba(0, 0, 0, .05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    z-index: 10;
    padding-left: calc((100vw - #{$wide-width}) / 2);
    padding-right: calc((100vw - #{$wide-width}) / 2);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    top: -56px;

    nav {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;

        .logo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            font: 800 1.125rem/1 $title-font-family;
            color: $primary-color;

            svg {
                width: 1.125rem;
                margin: 0 4px;
                fill: $primary-color;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }

            &:hover {
                color: $base-color-tone;

                svg {
                    fill: $base-color-tone;
                }
            }

            @include media-query($mobile-width) {
                .nosvg {
                    display: none;
                }

                svg {
                    margin: 0;
                }
            }
        }
    }

    .dynamic-nav {
        ul li {
            display: inline-block;

            a {
                padding: 4px 12px;
                font: 800 .875rem/1 $title-font-family;
                color: $text-color;

                .num-square {
                    display: inline-block;
                    margin-left: 4px;
                    background-color: $text-color;
                    color: $background-color;
                    width: .875rem;
                    height: .875rem;
                    border-radius: 1px;
                    font-size: .75rem;
                    text-align: center;
                    line-height: 0.875rem;
                    -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }

                &:hover {
                    color: $base-color-tone;

                    .num-square {
                        background-color: $base-color-tone;
                    }
                }

                @include media-query($mobile-width) {
                    padding: 4px 6px;
                    font-size: .75rem;
                    vertical-align: middle;

                    .num-square {
                        vertical-align: middle;
                        margin-left: 2px;
                        width: .75rem;
                        font-size: .5rem;
                        line-height: .75rem;
                    }
                }
            }
        }
    }

    @include media-query($wide-width) {
        padding-left: calc((100vw - #{$normal-width}) / 2);
        padding-right: calc((100vw - #{$normal-width}) / 2);
    }

    @include media-query($normal-width) {
        padding: 0 1rem 0 1rem;
    }
}

footer {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    background-color: $base-color-tint;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.875rem;
    padding-left: calc((100vw - #{$wide-width}) / 2);
    padding-right: calc((100vw - #{$wide-width}) / 2);

    span a {
        margin-right: 1.5rem;

        &#home-page {
            font-family: $title-font-family;
            font-weight: 800;
        }

        i {
            font-size: 1rem !important;
        }

        &#rss-link {
            margin-left: 1.5rem;
            margin-right: 0;
        }
    }

    @include media-query($wide-width) {
        padding-left: calc((100vw - #{$normal-width}) / 2);
        padding-right: calc((100vw - #{$normal-width}) / 2);
    }

    @include media-query($normal-width) {
        padding: 0 1rem;

        span a {
            margin-right: 0.75rem;

            &#mail-link .link-copy {
                display: none;
            }

            &#rss-link {
                margin-left: .5rem;

                .link-copy {
                    display: none;
                }
            }
        }

    }

    @include media-query($mobile-width) {
        font-size: .75rem;

        span a {
            margin-right: .5rem;

            i {
                font-size: .875rem;
            }

            &#rss-link {
                margin-left: 0;
            }
        }
    }
}