@charset "utf-8";

$base-font-family: 'Gothin A1', sans-serif;
$base-font-weight: 400 !default;
$base-line-height: 1.8 !default;
$base-font-size:   1em !default;
$small-font-size:  0.8em !default;

$text-color:       #333 !default;
$background-color: #fefefe !default;
$primary-color:    #5500cc !default;
$secondary-color:  #b894e9 !default;

$base-color-tint:  #f2f2f2 !default;
$base-color-tone:  #e6e6e6 !default;
$base-color-shade: #c2c2c2 !default;

$wide-width:       1152px !default;
$normal-width:     960px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
      @content;
    }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 2.4em;
    font-weight: 800;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

::-moz-selection {
    background: $primary-color;
    color: #fff;
}

::selection {
    background: $primary-color;
    color: #fff;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.intro-sec {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: -webkit-calc((100vw - #{$wide-width}) / 2);
    padding-left:         calc((100vw - #{$wide-width}) / 2);
    padding-right: -webkit-calc((100vw - #{$wide-width}) / 2);
    padding-right:         calc((100vw - #{$wide-width}) / 2);

    h1 {
        margin-left: -48px;
        color: #111;
    }

    .tapestry {
        width: 240px;
        height: 460px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-position: 0px 0px;
        background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%235500cc' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
        animation: animated-tapestry 4s linear infinite;

        .hole {
            background-color: #fff;
            height: 60%;
            width: 20%;
        }
    }
}

@keyframes animated-tapestry {
	from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 0;
    }
}