@-webkit-keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }

@keyframes fade-in { from { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes smooth-rise { from { -webkit-transform: translateY(10rem);
    transform: translateY(10rem); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes smooth-rise { from { -webkit-transform: translateY(10rem);
    transform: translateY(10rem); }
  to { -webkit-transform: translateY(0);
    transform: translateY(0); } }

a { cursor: pointer; color: #86868a; text-decoration: none; -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

a:hover { color: #c3c3c7; }

.sink-state { -webkit-transform: translateY(10rem); -ms-transform: translateY(10rem); transform: translateY(10rem); }

.rise-animated { -webkit-animation: smooth-rise 0.3s cubic-bezier(0.8, 0, 0.2, 1) forwards; animation: smooth-rise 0.3s cubic-bezier(0.8, 0, 0.2, 1) forwards; }

.rise-animated.second-position { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }

.rise-animated.third-position { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }

@media screen and (max-width: 1100px) { .rise-animated.second-position, .rise-animated.third-position { -webkit-animation-delay: 0s; animation-delay: 0s; } }

.op75 { opacity: 0.75; }

.disable-txt { color: #c3c3c7 !important; }

.disable-element { display: none; }

.hide { opacity: 0; }

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

h1, h2, h3 { font-weight: 800; color: #272629; font-family: "Noto Serif KR"; }

h1 { line-height: 1; font-size: 2rem; }

@media screen and (max-width: 760px) { h1 { font-size: 1.5rem; } }

h2 { font-size: 1.25rem; line-height: 1.5; }

@media screen and (max-width: 760px) { h2 { font-size: 1.25rem; } }

h3 { line-height: 1; font-size: 1.25rem; }

@media screen and (max-width: 760px) { h3 { font-size: 1.125rem; } }

strong { font-weight: bold; }

::-moz-selection { background: #363059; color: #fff; }

::selection { background: #363059; color: #fff; }

html { scroll-behavior: smooth; }

body { font: 400 1em/1.8 Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; font-display: swap; color: #272629; background-color: #fff; -webkit-text-size-adjust: 100%; -o-font-feature-settings: "kern" 1; -webkit-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; -webkit-font-kerning: normal; font-kerning: normal; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100vw; overflow-x: hidden; position: relative; min-height: 100vh; -webkit-animation: fade-in 0.6s cubic-bezier(0.8, 0, 0.2, 1) forwards; animation: fade-in 0.6s cubic-bezier(0.8, 0, 0.2, 1) forwards; }

section { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 6rem calc((100vw - 1300px) / 2); }

section.wide { padding-left: 3%; padding-right: 3%; }

.space-container { display: -webkit-box; display: -ms-flexbox; display: flex; }

.space-container .space-left { padding-right: 2.5rem; -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; }

.space-container .space-right { padding-left: 2.5rem; -webkit-box-flex: 3; -ms-flex: 3 1 0px; flex: 3 1 0; }

.space-container.one-by-two .space-right { -webkit-box-flex: 2; -ms-flex: 2 1 0px; flex: 2 1 0; }

.ads-container-mobile-feedcard { display: none; }

@media screen and (max-width: 1300px) { section { padding: 3.5rem 2.5rem; } }

@media screen and (max-width: 1100px) { section { padding: 2.5rem; } .space-container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; } .space-container .space-left { padding-right: 0; } .space-container .space-right { padding-left: 0; -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; } }

@media screen and (max-width: 760px) { section { padding: 2rem 1.5rem; } .ads-container-mobile-feedcard { display: block; } .mobile-disappear { display: none; } }

.ghost-round-button { line-height: 1; font-size: 1rem; color: #272629; padding: 0.5rem 0.75rem; border-radius: 3rem; border: 1px solid #86868a; background-color: transparent; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; cursor: pointer; }

@media screen and (max-width: 760px) { .ghost-round-button { font-size: 0.875rem; padding: 0.375rem 0.5rem; } }

.top-nav { position: fixed; background-color: rgba(255, 255, 255, 0.95); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); -webkit-box-sizing: border-box; box-sizing: border-box; width: 100vw; z-index: 10; padding: 1.5rem calc((100vw - 1300px) / 2); -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); }

.top-nav.show { -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }

.top-nav nav { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.top-nav nav .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font: normal 1.25rem/1 "Noto Serif KR"; color: #272629; }

.top-nav nav .logo svg { width: 1.5rem; margin: 0 4px; fill: #363059; display: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.top-nav nav .logo:hover { color: #c3c3c7; }

.top-nav nav .logo:hover svg { fill: #c3c3c7; }

@media screen and (max-width: 760px) { .top-nav nav .logo .nosvg { display: none; } .top-nav nav .logo svg { margin: 0; display: block; } }

.top-nav .dynamic-nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; list-style-type: none; }

.top-nav .dynamic-nav ul li { margin-right: 1.5rem; }

.top-nav .dynamic-nav ul li:last-child { margin-right: 0; }

.top-nav .dynamic-nav ul li a { padding: 0.25rem 0.5rem; line-height: 1; font-weight: 500; color: #272629; font-size: 1.1rem; display: block; }

.top-nav .dynamic-nav ul li a:hover { color: #c3c3c7; }

.top-nav .dynamic-nav ul li a.nav-item-act { color: #363059; font-weight: bold; }

@media screen and (max-width: 1300px) { .top-nav { padding: 1.5rem 2.5rem; } }

@media screen and (max-width: 760px) { .top-nav { padding: 1rem 1.25rem; } .top-nav .dynamic-nav ul li { margin-right: 0.75rem; } }

footer { width: 100%; background-color: #f2f2f2; color: #272629; }

footer.intro { background-color: #1a1531; color: #f2f2f2; }

footer.intro section .link-group #home-page { color: #f2f2f2; }

footer section { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

footer section .link-group { font-size: 1.1rem; }

footer section .link-group #home-page { font-family: "Noto Serif KR"; color: #272629; }

footer section .link-group .group-title { font-weight: 500; margin-bottom: 1rem; }

footer section .link-group a { display: block; }

footer section .link-group a:hover { text-decoration: underline; }

@media screen and (max-width: 760px) { footer section { -ms-flex-wrap: wrap; flex-wrap: wrap; } footer section .link-group { -ms-flex-preferred-size: 50%; flex-basis: 50%; } footer section .link-group:first-child { -ms-flex-preferred-size: 100%; flex-basis: 100%; margin-bottom: 1rem; } footer section .link-group:last-child, footer section .link-group:nth-last-child(2) { margin-top: 1.5rem; } }

.space-left .category-link { position: -webkit-sticky; position: sticky; top: calc(56px + 6rem); -webkit-transition: transform 0.3s ease; -o-transition: transform 0.3s ease; transition: transform 0.3s ease; display: block; }

.space-left .category-link .category-title { -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; font-size: 3.5rem; line-height: 1.1; margin-bottom: 3.5rem; letter-spacing: -0.05rem; }

.space-left .category-link button { -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; color: #272629; border-color: #272629; }

.space-left .category-link:hover { -webkit-transform: scale(0.93); -ms-transform: scale(0.93); transform: scale(0.93); }

.space-left .category-link:hover h2 { color: #363059; text-decoration: underline; }

.space-left .category-link:hover button { color: #fff; background-color: #363059; }

.post-list { display: grid; gap: 5rem 1.5rem; -webkit-box-align: start; -ms-flex-align: start; align-items: start; }

.post-list.two-row { grid-template-columns: repeat(2, 1fr); }

.post-list.three-row { grid-template-columns: repeat(3, 1fr); }

.post-list .post-list-item .post-description { font-size: 1.1rem; color: #86868a; display: -webkit-box; display: -ms-flexbox; display: flex; font-family: "Noto Serif KR"; position: relative; word-break: keep-all; }

.post-list .post-list-item .post-description .post-intro h3 { line-height: 1.4; letter-spacing: -0.05rem; margin-bottom: 1rem; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; font-size: 1.5rem; -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.post-list .post-list-item .post-description .post-intro .post-excerpt { line-height: 1.6; -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.post-list .post-list-item .post-thumbnail { margin-bottom: 1.5rem; overflow: hidden; width: 100%; border-radius: 4px; }

.post-list .post-list-item .post-thumbnail .img-source { width: 100%; padding-top: 80%; position: relative; background-size: cover; background-position: center center; -webkit-transition: transform 0.3s ease; -o-transition: transform 0.3s ease; transition: transform 0.3s ease; }

.post-list .post-list-item .post-thumbnail .img-source::before { content: ""; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400'%3E%3Cdefs%3E%3Cfilter id='a' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.071' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3Canimate attributeName='seed' values='5;15;' dur='1.5s' repeatCount='indefinite' /%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='15' specularConstant='.5' specularExponent='20' lighting-color='%23fff' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='80'/%3E%3C/feSpecularLighting%3E%3C/filter%3E%3C/defs%3E%3Cpath fill='%23363059' d='M0 0h400v400H0z'/%3E%3Cpath fill='%23fff' filter='url(%23a)' d='M0 0h400v400H0z'/%3E%3C/svg%3E"); display: block; opacity: 0; width: 100%; padding-top: 80%; position: absolute; top: 0; left: 0; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }

.post-list .post-list-item:hover .post-description h3 { color: #86868a; text-decoration: underline; }

.post-list .post-list-item:hover .post-description .post-excerpt { color: #c3c3c7; }

.post-list .post-list-item:hover .post-thumbnail .img-source { -webkit-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }

.post-list .post-list-item:hover .post-thumbnail .img-source::before { opacity: 0.2; }

@media screen and (max-width: 1300px) { .post-list { gap: 3rem 1.5rem; } .post-list.three-row { margin-top: 73px; } }

@media screen and (max-width: 1100px) { .post-list.three-row { grid-template-columns: repeat(2, 1fr); } .space-left .category-link { position: static; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 2rem; } .space-left .category-link .category-title { font-size: 2.5rem; line-height: 1; margin: 0 0.75rem 0 0; } .space-left .category-link .category-title br { content: ""; } .space-left .category-link .category-title br::after { content: " "; } }

@media screen and (max-width: 760px) { .space-right .post-list, .post-list.three-row { grid-template-columns: repeat(1, 1fr); gap: 2rem; } .space-right .post-list .post-list-item .post-thumbnail, .post-list.three-row .post-list-item .post-thumbnail { margin-bottom: 1rem; } .space-right .post-list .post-list-item .post-description .post-intro h3, .post-list.three-row .post-list-item .post-description .post-intro h3 { font-size: 1.375rem; margin-bottom: 0.75rem; } .post-list.three-row { margin-top: calc(56px + 1.25rem); } .space-left .category-link { margin-bottom: 1.5rem; } .space-left .category-link .category-title { font-size: 1.75rem; margin-right: 0.5rem; } }

.post-content-container { padding-top: 0; padding-bottom: 0; border-bottom: 1px solid #e3e3e6; }

.post-content-container .space-left { border-right: 1px solid #e3e3e6; }

.post-content-container .space-left .post-content-side-container { opacity: 0; -webkit-animation: 0.4s ease 0.4s forwards fade-in; animation: 0.4s ease 0.4s forwards fade-in; position: -webkit-sticky; position: sticky; top: 8rem; margin-top: 10rem; margin-bottom: 5rem; }

.post-content-container .space-left .post-content-side-container .post-share-title { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; margin-bottom: 1rem; }

.post-content-container .space-left .post-content-side-container .post-share-description { line-height: 1.5; margin-bottom: 2.5rem; }

.post-content-container .space-left .post-content-side-container button#post-share { width: 100%; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; background-color: #363059; color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 0; border-radius: 4px; padding: 1rem; font-size: 0.875rem; font-weight: 600; margin-bottom: 5rem; cursor: pointer; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; -webkit-box-sizing: border-box; box-sizing: border-box; }

.post-content-container .space-left .post-content-side-container button#post-share svg { width: 0.875rem; margin-right: 0.5rem; }

.post-content-container .space-left .post-content-side-container button#post-share:hover { background-color: #1f193b; color: #e3e3e6; -webkit-transform: scale(0.975); -ms-transform: scale(0.975); transform: scale(0.975); }

.post-content-container .space-left .post-content-side-container button#post-share:active { -webkit-transform: scale(0.95); -ms-transform: scale(0.95); transform: scale(0.95); }

.post-content-container .space-left .post-content-side-container .outerlink-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 2px solid #272629; margin-top: 1rem; padding: 0.5rem 0 0.5rem 0.25rem; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.post-content-container .space-left .post-content-side-container .outerlink-container h3 { font-size: 1.1rem; line-height: 1; font-weight: bold; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.post-content-container .space-left .post-content-side-container .outerlink-container svg { margin-left: 1.5rem; color: #272629; width: 2rem; -webkit-transition: color 0.3s ease; -o-transition: color 0.3s ease; transition: color 0.3s ease; }

.post-content-container .space-left .post-content-side-container .outerlink-container:hover { -webkit-transform: scale(0.975); -ms-transform: scale(0.975); transform: scale(0.975); border-color: #86868a; }

.post-content-container .space-left .post-content-side-container .outerlink-container:hover h3, .post-content-container .space-left .post-content-side-container .outerlink-container:hover svg { color: #86868a; }

.post-content-container .space-right { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.post-content-container .space-right .post-content { max-width: 760px; width: 100%; margin: 10rem 0 3.5rem; font-family: "Noto Serif KR"; letter-spacing: -0.01rem; }

.post-content-container .space-right .post-content * { opacity: 0; -webkit-animation: 0.4s ease 0.2s forwards fade-in; animation: 0.4s ease 0.2s forwards fade-in; }

.post-content-container .space-right .post-content .post-title { font-size: 3rem; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; letter-spacing: -0.05rem; width: 100%; margin-bottom: 3.5rem; position: relative; line-height: 1.4; color: #272629; word-break: keep-all; -webkit-animation: 0.4s ease forwards fade-in; animation: 0.4s ease forwards fade-in; }

.post-content-container .space-right .post-content p, .post-content-container .space-right .post-content ul, .post-content-container .space-right .post-content ol, .post-content-container .space-right .post-content table { font-size: 1.125rem; line-height: 2; margin: 1.75rem 0; }

.post-content-container .space-right .post-content ul, .post-content-container .space-right .post-content ol { padding-left: 1.1rem; }

.post-content-container .space-right .post-content ul li, .post-content-container .space-right .post-content ol li { margin-bottom: 0.375rem; }

.post-content-container .space-right .post-content ul li:last-child, .post-content-container .space-right .post-content ol li:last-child { margin-bottom: 0; }

.post-content-container .space-right .post-content a { border-bottom: 2px solid #4a37ad; color: #272629; }

.post-content-container .space-right .post-content a:hover { color: #4a37ad; }

.post-content-container .space-right .post-content > p.right-infor { text-align: right; }

.post-content-container .space-right .post-content > p.infor, .post-content-container .space-right .post-content > p.right-infor { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; color: #86868a; font-size: 1rem; line-height: 2; }

.post-content-container .space-right .post-content > p.infor strong, .post-content-container .space-right .post-content > p.infor em, .post-content-container .space-right .post-content > p.right-infor strong, .post-content-container .space-right .post-content > p.right-infor em { font-weight: 600; }

.post-content-container .space-right .post-content > p.infor a, .post-content-container .space-right .post-content > p.right-infor a { color: #86868a; border-bottom: 1px solid #86868a; }

.post-content-container .space-right .post-content > p.infor a:hover, .post-content-container .space-right .post-content > p.right-infor a:hover { color: #c3c3c7; border-color: #c3c3c7; }

.post-content-container .space-right .post-content > p.infor:first-of-type { padding-bottom: 1.5rem; border-bottom: 1px solid #e3e3e6; }

.post-content-container .space-right .post-content > p.refer { margin-top: 4rem; }

.post-content-container .space-right .post-content > p.full-size, .post-content-container .space-right .post-content > p.normal-size { line-height: 1; }

.post-content-container .space-right .post-content h2 { margin: 5rem 0 1.5rem; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; word-break: keep-all; font-size: 1.5rem; }

.post-content-container .space-right .post-content img { width: 100%; height: auto; }

.post-content-container .space-right .post-content table { line-height: 2; }

.post-content-container .space-right .post-content table tbody, .post-content-container .space-right .post-content table thead { vertical-align: top; }

.post-content-container .space-right .post-content table tr th:last-child { font-weight: normal; }

.post-content-container .space-right .post-content table tr td:first-child { font-weight: bold; padding-right: 1.5rem; white-space: nowrap; }

.post-content-container .space-right .post-content blockquote p:last-child { text-align: right; }

.post-content-container .space-right .post-content .half-margin { margin: 1rem 0; }

.post-content-container .space-right .post-content .no-bottom-margin { margin-bottom: 0; }

.post-content-container .space-right .post-content .no-top-margin { margin-top: 0; }

.post-content-container .space-right .post-content .img-caption { font-size: 0.875rem; line-height: 1; font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; }

.post-content-container .space-right .post-feedback { border-top: 1px solid #e3e3e6; padding: 3.5rem 0; width: 100%; max-width: 760px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.post-content-container .space-right .post-feedback p { font-size: 1rem; line-height: 1; margin-bottom: 1rem; text-align: center; font-weight: 600; -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.post-content-container .space-right .post-feedback a { background-color: #363059; color: #fff; padding: 0.5rem 0.75rem; font-size: 0.875rem; font-weight: 600; border-radius: 4px; display: block; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.post-content-container .space-right .post-feedback a:last-child { margin-left: 0.75rem; }

.post-content-container .space-right .post-feedback a:hover { background-color: #1f193b; color: #e3e3e6; -webkit-transform: scale(0.95); -ms-transform: scale(0.95); transform: scale(0.95); }

.post-content-container .space-right .post-feedback a:active { -webkit-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); }

.post-content-container .space-right .shouk-container { -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 5rem; max-width: 760px; width: 100%; background-color: #f2f2f2; padding: 0 1rem 0 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; }

.post-content-container .space-right .shouk-container h3 { font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif; margin-bottom: 0.75rem; }

.post-content-container .space-right .shouk-container h3, .post-content-container .space-right .shouk-container p { line-height: 1.2; }

.post-content-container .space-right .shouk-container .container-right { padding-top: 0.75rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.post-content-container .space-right .shouk-container .container-right img { width: auto; height: 140px; }

.post-content-container .space-right .shouk-container:hover { background-color: #e3e3e6; -webkit-transform: scale(0.975); -ms-transform: scale(0.975); transform: scale(0.975); }

.post-content-container .space-right .shouk-container:active { -webkit-transform: scale(0.95); -ms-transform: scale(0.95); transform: scale(0.95); }

@media screen and (max-width: 1300px) { .post-content-container .space-left .post-content-side-container .post-share-description { margin-bottom: 3rem; } .post-content-container .space-right .shouk-container { padding: 0 1.5rem; } .post-content-container .space-right .shouk-container .container-right img { height: 120px; } .post-list.related-post-list { margin-top: 0; } }

@media screen and (max-width: 1100px) { .post-content-container { -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-flow: column-reverse; flex-flow: column-reverse; border: 0; } .post-content-container .space-left { border: 0; } .post-content-container .space-left .post-content-side-container { width: 100%; max-width: 760px; position: static; top: 0; margin: 0 auto 1.5rem; padding: 0; } .post-content-container .space-left .post-content-side-container .post-share-title { margin: 3rem 0 0.5rem; } .post-content-container .space-left .post-content-side-container .post-share-title, .post-content-container .space-left .post-content-side-container .post-share-description { text-align: center; } .post-content-container .space-left .post-content-side-container .post-share-description { margin-bottom: 1.5rem; } .post-content-container .space-left .post-content-side-container button#post-share { margin-bottom: 3.5rem; } .post-content-container .space-left .post-content-side-container .outerlink-container svg { width: 1.5rem; } .post-content-container .space-right .post-content { margin: calc(56px + 3.5rem) 0 3.5rem; } .post-content-container .space-right .post-content .post-title { font-size: 2rem; } .post-content-container .space-right .post-feedback { padding: 2.5rem 0; } .post-content-container .space-right .shouk-container { margin-bottom: 3.5rem; padding: 0 1rem; } .post-content-container .space-right .shouk-container .container-right img { height: 120px; } }

@media screen and (max-width: 760px) { .post-content-container .space-left .post-content-side-container .post-share-title { margin: 1.5rem 0 0.5rem; font-size: 1.1rem; } .post-content-container .space-left .post-content-side-container .post-share-description { font-size: 0.875rem; } .post-content-container .space-left .post-content-side-container .outerlink-container h3 { font-size: 1rem; } .post-content-container .space-right .post-content { margin: 73px 0 2.5rem; } .post-content-container .space-right .post-content .post-title { margin-bottom: 2.5rem; font-size: 1.75rem; line-height: 1.3; } .post-content-container .space-right .post-content p, .post-content-container .space-right .post-content ul, .post-content-container .space-right .post-content ol, .post-content-container .space-right .post-content table { margin: 1.25rem 0; } .post-content-container .space-right .post-content > p.infor { font-size: 0.875rem; } .post-content-container .space-right .post-content h2 { margin: 2.5rem 0 1.25rem; font-size: 1.25rem; } .post-content-container .space-right .post-content .half-margin { margin: 0.75rem 0; } .post-content-container .space-right .shouk-container { margin-bottom: 2.5rem; padding: 1rem; padding-bottom: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } .post-content-container .space-right .shouk-container .container-left { padding: 0.5rem 1rem; text-align: center; } .post-content-container .space-right .shouk-container .container-left h3 { font-size: 1.1rem; } .post-content-container .space-right .shouk-container .container-left p { font-size: 0.875rem; } .post-content-container .space-right .shouk-container .container-right img { height: 100px; } .post-list.related-post-list { margin: 0; } }

/*# sourceMappingURL=post.css.map */