@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes noise {
  0%,
    to {
    -webkit-transform: translate(0);
    transform: translate(0); }
  10% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%);
    transform: translate(3%, 3%); }
  50% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%);
    transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%);
    transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%);
    transform: translate(2%, 2%); }
  90% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); } }
@keyframes noise {
  0%,
    to {
    -webkit-transform: translate(0);
    transform: translate(0); }
  10% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%);
    transform: translate(3%, 3%); }
  50% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%);
    transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%);
    transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%);
    transform: translate(2%, 2%); }
  90% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); } }
@-webkit-keyframes gradient-slide-in {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
@keyframes gradient-slide-in {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }
.op75 {
  opacity: 0.75; }

.bx {
  font-size: 1.5rem;
  vertical-align: middle; }

.disable-txt {
  color: #c2c2c2 !important; }

.hide {
  opacity: 0; }

.show {
  top: 0 !important; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

h1,
h2,
h3 {
  font-weight: 800;
  color: #484657;
  font-family: "Nanum Myeongjo"; }

h1 {
  line-height: 1;
  font-size: 2.25rem; }
  @media screen and (max-width: 660px) {
    h1 {
      font-size: 1.5rem; } }

h2 {
  font-size: 1.375rem;
  line-height: 1.5; }
  @media screen and (max-width: 660px) {
    h2 {
      font-size: 1.25rem; } }

h3 {
  line-height: 1 !important;
  font-size: 1.25rem; }
  @media screen and (max-width: 660px) {
    h3 {
      font-size: 1.125rem; } }

strong {
  font-weight: bold; }

::-moz-selection {
  background: #363059;
  color: #fff; }

::selection {
  background: #363059;
  color: #fff; }

body {
  font: 400 1em/1.8 "Spoqa Han Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #514f59;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh; }

a {
  cursor: pointer;
  color: #86868a;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    color: #c2c2c2; }

blockquote {
  position: relative;
  color: #514f59;
  margin-left: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  blockquote::before {
    content: "";
    position: absolute;
    top: 0;
    width: 32px;
    height: 4px;
    background-color: #363059; }
  blockquote::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 32px;
    height: 4px;
    background-color: #363059; }
  blockquote p {
    text-indent: 0 !important;
    line-height: 2 !important; }
  blockquote *:first-child {
    padding-top: 2rem; }
  blockquote *:last-child {
    color: #363059;
    font-weight: bold;
    padding-bottom: 2rem;
    margin-bottom: 4rem !important; }
  @media screen and (max-width: 660px) {
    blockquote *:first-child {
      padding-top: 1.5rem !important; }
    blockquote *:last-child {
      padding-bottom: 1.5rem !important;
      margin-bottom: 2rem !important; } }

pre,
code {
  font-family: "Fira Mono", sans-serif;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #86868a;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem; }
  @media screen and (max-width: 660px) {
    pre,
    code {
      font-size: 0.75rem;
      padding: 0.125rem 0.25rem;
      border-radius: 0.125rem; } }

.ads-container-mobile-feedcard {
  display: none; }

span.block {
  background-color: #363059;
  width: 8px;
  height: 8px;
  float: right;
  margin-top: 8px; }
  span.block:not(:first-child) {
    margin-right: 4px; }
  @media screen and (max-width: 660px) {
    span.block {
      display: none; } }

#article-page {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 3rem;
  margin-bottom: 64px; }

section {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: calc((100vw - 1152px) / 2);
  padding-right: calc((100vw - 1152px) / 2); }
  section .numbering {
    font-size: 0.75rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    color: #c2c2c2;
    line-height: 1; }
  section.starting-point {
    margin: 3.5rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    section.starting-point .title-space {
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 1.5rem; }
      section.starting-point .title-space .title-space-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2; }
        section.starting-point .title-space .title-space-container .title-space-left,
        section.starting-point .title-space .title-space-container .title-space-right {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
        section.starting-point .title-space .title-space-container .title-space-left {
          overflow: hidden;
          border-right: 1px solid #c2c2c2;
          padding: 3.5rem 3.5rem 0 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          section.starting-point .title-space .title-space-container .title-space-left .title-bi {
            position: relative;
            margin-bottom: 1.25rem; }
            section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy svg {
              width: 64%;
              z-index: 2; }
            section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-filled {
              fill: #363059;
              position: relative;
              margin-bottom: 50px;
              -webkit-animation: fade-in .2s ease .5s forwards;
              animation: fade-in .2s ease .5s forwards;
              opacity: 0; }
            section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-outline {
              position: absolute;
              left: 0;
              fill: none;
              stroke: #363059;
              stroke-width: 1px;
              opacity: 0; }
              section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-outline:nth-child(2) {
                top: -80%;
                -webkit-animation: fade-in .2s ease .3s 2 alternate forwards;
                animation: fade-in .2s ease .3s 2 alternate forwards; }
              section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-outline:nth-child(3) {
                -webkit-animation: fade-in .2s ease .2s 2 alternate forwards;
                animation: fade-in .2s ease .2s 2 alternate forwards; }
              section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-outline:last-child {
                bottom: -60%;
                -webkit-animation: fade-in .2s ease .1s 2 alternate forwards;
                animation: fade-in .2s ease .1s 2 alternate forwards; }
            section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              padding: 50px 0 0 36%;
              -webkit-box-sizing: border-box;
              box-sizing: border-box; }
              section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container .title-bi-background-square {
                position: relative;
                width: inherit;
                height: inherit;
                background-color: #363059;
                overflow: hidden; }
                section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container .title-bi-background-square::before, section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container .title-bi-background-square::after {
                  content: '';
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  left: 0;
                  top: 0; }
                section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container .title-bi-background-square::before {
                  -webkit-animation: gradient-slide-in 1s ease-out forwards;
                  animation: gradient-slide-in 1s ease-out forwards;
                  z-index: 1;
                  background-size: 200% 100%;
                  background-image: -o-linear-gradient(330deg, white 56%, rgba(255, 255, 255, 0) 95%);
                  background-image: linear-gradient(120deg, white 56%, rgba(255, 255, 255, 0) 95%); }
                section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container .title-bi-background-square::after {
                  width: 110%;
                  height: 110%;
                  top: -4%;
                  left: -4%;
                  -webkit-animation: noise 0.8s steps(1) 0s infinite;
                  animation: noise 0.8s steps(1) 0s infinite;
                  background-repeat: repeat;
                  background-image: url("https://cdn.jsdelivr.net/gh/dewberry9/dewberry9.github.io/assets/images/noise.png"); }
          section.starting-point .title-space .title-space-container .title-space-left .numbering {
            padding-left: 0;
            margin-bottom: 1.5rem; }
        section.starting-point .title-space .title-space-container .title-space-right {
          -webkit-box-flex: 2;
          -ms-flex: 2;
          flex: 2; }
          section.starting-point .title-space .title-space-container .title-space-right .title-description {
            font-size: 1.25rem;
            font-weight: normal;
            line-height: 1.5;
            margin: 3.5rem 0 0  3.5rem; }
          section.starting-point .title-space .title-space-container .title-space-right .numbering {
            padding-left: 1.5rem;
            margin-bottom: 1.5rem; }
  section.subscribe .subscribe-container {
    -webkit-box-shadow: 0 2.5px 6.3px rgba(0, 0, 0, 0.035), 0 20px 50px rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5px 6.3px rgba(0, 0, 0, 0.035), 0 20px 50px rgba(0, 0, 0, 0.07);
    background-color: #363059;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: .875rem .875rem .875rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    section.subscribe .subscribe-container .subscribe-description {
      color: #fff; }
    section.subscribe .subscribe-container .btn-subscribe {
      background-color: #fff;
      color: #363059;
      font-weight: bold;
      padding: .5rem 1rem; }
  section.subscribe.subscribe-post-bottom {
    margin-top: 1rem;
    padding: 0 calc((100% - 660px) / 2); }
    section.subscribe.subscribe-post-bottom .subscribe-container {
      width: 100%; }
  section.btn-point {
    padding-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column; }
    section.btn-point .text-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      section.btn-point .text-content h3 {
        padding-left: 1.25rem; }
      section.btn-point .text-content .btn-list {
        min-width: 4rem;
        padding-right: 1.25rem;
        color: #514f59;
        font-size: 0.75rem;
        font-family: "Nanum Myeongjo"; }
        section.btn-point .text-content .btn-list span {
          border-bottom: 1px solid #514f59;
          vertical-align: text-bottom; }
        section.btn-point .text-content .btn-list svg {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 0.5rem;
          width: 1rem;
          fill: #514f59; }
        section.btn-point .text-content .btn-list:hover {
          color: #c2c2c2; }
          section.btn-point .text-content .btn-list:hover span {
            border-color: #c2c2c2; }
          section.btn-point .text-content .btn-list:hover svg {
            margin-left: 1rem;
            fill: #c2c2c2; }
  section.about-point {
    background-color: #363059;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    margin-bottom: 64px;
    margin-top: 56px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.about-point h2 {
      color: #fff !important;
      line-height: 1;
      margin-bottom: 0.5rem; }
    section.about-point p {
      font-size: 0.875rem;
      color: #f2f2f2; }
    section.about-point a {
      color: #f2f2f2; }
      section.about-point a i {
        margin-left: 4px; }
      section.about-point a:hover {
        color: #fff; }
  section.post-list {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  section.post-list, section.post-content {
    margin-top: 3.5rem;
    padding-top: 1.5rem; }
  section.post-list.recent-article {
    margin-top: 0; }
  section.related-post-list {
    margin-bottom: calc(3.5rem + 64px); }
    section.related-post-list .related-post-list-top-border {
      width: calc(100% - 3rem);
      margin: 0 auto 3.5rem;
      height: 1px;
      border-top: 1px solid #c2c2c2; }
  section.post-content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: calc((100vw - 960px) / 2);
    padding-right: calc((100vw - 960px) / 2); }
    section.post-content .post-title {
      width: 100%;
      text-align: center;
      margin-top: 4rem;
      position: relative;
      line-height: 1.2;
      color: #363059; }
      section.post-content .post-title h1 {
        -webkit-animation: fade-in 0.4s ease;
        animation: fade-in 0.4s ease; }
    section.post-content:not(:first-child) {
      -webkit-animation: fade-in 0.8s ease;
      animation: fade-in 0.8s ease; }
    section.post-content .post-category {
      display: block;
      width: 100%;
      margin-bottom: 4rem;
      color: #c2c2c2;
      position: relative; }
      section.post-content .post-category .script-font {
        display: block;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 250px;
        fill: #ff1c73; }
    section.post-content div {
      width: 100%;
      font-family: "Nanum Myeongjo"; }
      section.post-content div p {
        text-indent: 0.5rem;
        line-height: 2.5; }
      section.post-content div > p.infor::before {
        content: "*"; }
      section.post-content div > p.right-infor {
        text-align: right; }
      section.post-content div > p.infor,
      section.post-content div > p.right-infor {
        color: #86868a;
        font-size: 0.875rem;
        line-height: 2; }
      section.post-content div > p,
      section.post-content div table,
      section.post-content div h2,
      section.post-content div ul,
      section.post-content div ol,
      section.post-content div blockquote {
        padding: 0 calc((100% - 660px) / 2); }
      section.post-content div > p.refer {
        margin-top: 4rem; }
      section.post-content div > p.full-size,
      section.post-content div > p.normal-size {
        text-indent: 0; }
      section.post-content div > p.full-size {
        padding: 0; }
      section.post-content div p {
        margin: 1rem 0; }
      section.post-content div a {
        text-decoration: underline; }
      section.post-content div h2 {
        margin: 6rem 0 4rem;
        text-align: center; }
      section.post-content div img {
        width: 100%;
        height: auto;
        margin-top: 1rem; }
      section.post-content div ul,
      section.post-content div ol {
        padding-left: calc((100% - 660px) / 2 + 1rem); }
      section.post-content div table {
        line-height: 2; }
        section.post-content div table tbody, section.post-content div table thead {
          vertical-align: top; }
        section.post-content div table tr th:last-child {
          font-weight: normal; }
        section.post-content div table tr td:first-child {
          font-weight: bold;
          padding-right: 1rem;
          white-space: nowrap; }
  section .post-list-item,
  section .ads-container-relative-feedcard {
    color: #514f59;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1.5rem;
    width: 384px;
    margin-bottom: 1rem; }
  section .post-list-item {
    -webkit-transition: 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    section .post-list-item * {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    section .post-list-item .post-description {
      font-size: 0.875rem;
      color: #86868a;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 0.25rem; }
      section .post-list-item .post-description::before {
        content: "";
        position: relative;
        border-left: 1px solid #c2c2c2;
        top: -48px;
        left: 8px;
        height: 48px;
        opacity: 0.5;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease; }
      section .post-list-item .post-description time,
      section .post-list-item .post-description .post-topic {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0.5rem;
        letter-spacing: 1px;
        color: #c2c2c2;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        font-size: 0.5rem; }
      section .post-list-item .post-description .post-intro {
        margin-left: 1rem; }
        section .post-list-item .post-description .post-intro h2 {
          letter-spacing: -0.2px;
          margin-bottom: 0.5rem; }
    section .post-list-item .post-thumbnail {
      margin-bottom: 1.5rem;
      overflow: hidden;
      width: 100%;
      height: 215px; }
      section .post-list-item .post-thumbnail .img-source {
        width: 100%;
        height: 100%;
        position: relative;
        background-size: cover;
        background-position: center center; }
        section .post-list-item .post-thumbnail .img-source::before {
          content: "";
          background-color: #363059;
          display: block;
          opacity: 0;
          width: 100%;
          height: 100%;
          position: relative;
          top: 0;
          left: 0;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
    section .post-list-item:hover .post-description::before {
      height: 36px; }
    section .post-list-item:hover .post-description time,
    section .post-list-item:hover .post-description .post-topic {
      padding: 0; }
    section .post-list-item:hover .post-description h2 {
      color: #86868a; }
    section .post-list-item:hover .post-description .post-excerpt {
      color: #c2c2c2; }
    section .post-list-item:hover .post-thumbnail .img-source {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
      section .post-list-item:hover .post-thumbnail .img-source::before {
        opacity: 0.25; }
  section .pagination {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2rem auto 4rem;
    font-weight: bold;
    font-size: 0.875rem; }
    section .pagination * {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      cursor: pointer; }
    section .pagination a {
      margin: 0 1rem; }
      section .pagination a * {
        vertical-align: middle; }
    section .pagination .now-page {
      color: #363059;
      border-bottom: 2px solid #363059; }
  @media screen and (max-width: 1152px) {
    section {
      padding-left: calc((100vw - 960px) / 2);
      padding-right: calc((100vw - 960px) / 2); }
      section .post-list-item,
      section .ads-container-relative-feedcard {
        width: 320px; }
      section .post-list-item .post-description h2 {
        margin-bottom: 0.5rem; }
      section .post-list-item .post-thumbnail {
        height: 175px; } }
  @media screen and (max-width: 960px) {
    section {
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      section.starting-point {
        padding: 0 1.5rem; }
        section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-outline:last-child {
          bottom: -50%; }
        section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-filled {
          margin-bottom: 30px; }
        section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container {
          padding-top: 30px; }
      section.subscribe .subscribe-container {
        width: calc(100% - 6rem); }
      section.about-point {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      section.btn-point {
        padding-top: 3.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem; }
      section.post-content {
        padding: 0 1.5rem; }
        section.post-content table td:first-child {
          padding-right: .5rem; }
      section.post-list {
        padding: 1.5rem 1.5rem 0 1.5rem;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      section .post-list-item,
      section .ads-container-relative-feedcard {
        width: 49%; }
      section .post-list-item .post-description h2 {
        margin-bottom: 0.5rem; }
      section .post-list-item .post-thumbnail {
        height: 175px; } }
  @media screen and (max-width: 660px) {
    section .ads-container-mobile-feedcard {
      display: block;
      width: 100%;
      padding: 0.5rem; }
    section .numbering {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem; }
    section.starting-point {
      margin: 2rem 0 1.5rem; }
      section.starting-point .title-space {
        padding: 0 0.5rem; }
        section.starting-point .title-space .title-space-container .title-space-left {
          padding: 1rem 1rem 0 0; }
          section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-copy .title-bi-copy-filled {
            margin-bottom: 12px; }
          section.starting-point .title-space .title-space-container .title-space-left .title-bi .title-bi-background-square-container {
            padding-top: 12px; }
          section.starting-point .title-space .title-space-container .title-space-left .numbering {
            margin-bottom: .5rem; }
        section.starting-point .title-space .title-space-container .title-space-right {
          -webkit-box-flex: 3;
          -ms-flex: 3;
          flex: 3; }
          section.starting-point .title-space .title-space-container .title-space-right .title-description {
            font-size: .875rem;
            margin: 1rem 0 0 1rem; }
          section.starting-point .title-space .title-space-container .title-space-right .numbering {
            padding-left: .5rem;
            margin-bottom: .5rem; }
    section.subscribe .subscribe-container {
      width: calc(100% - 4rem);
      padding: .875rem;
      font-size: .875rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      section.subscribe .subscribe-container .subscribe-description {
        width: 100%;
        text-align: center;
        word-break: keep-all;
        line-height: 1.5;
        margin-bottom: .5rem; }
      section.subscribe .subscribe-container .btn-subscribe {
        padding: .25rem .5rem; }
    section.subscribe.subscribe-post-bottom {
      margin-top: 0; }
      section.subscribe.subscribe-post-bottom .subscribe-container {
        width: calc(100% - 4rem); }
    section.btn-point {
      padding-top: 2.5rem; }
      section.btn-point .text-content h3 {
        padding-left: 0.5rem; }
      section.btn-point .text-content .btn-list {
        padding-right: 0.5rem; }
    section.about-point {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      section.about-point .left-script {
        -ms-flex-item-align: start;
        align-self: flex-start; }
        section.about-point .left-script p {
          font-size: 0.75rem; }
      section.about-point a {
        font-size: 0.875rem;
        -ms-flex-item-align: end;
        align-self: flex-end; }
    section.post-list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 1rem 0; }
    section.related-post-list {
      margin-bottom: calc(2rem + 64px); }
      section.related-post-list .related-post-list-top-border {
        width: calc(100% - 1rem);
        margin-bottom: 2.5rem; }
    section.post-content {
      padding: 0 1.5rem;
      margin-bottom: .5rem; }
      section.post-content div p, section.post-content div table {
        margin: 1rem 0; }
      section.post-content div h2 {
        margin: 1.5rem 0; }
      section.post-content .post-title {
        margin-top: 2rem; }
      section.post-content .post-category {
        margin-bottom: 1rem; }
        section.post-content .post-category .script-font {
          width: 200px; }
      section.post-content div p,
      section.post-content div h2,
      section.post-content div ul,
      section.post-content div ol,
      section.post-content div blockquote {
        padding: 0; }
      section.post-content div > p.infor {
        font-size: 0.75rem; }
      section.post-content div > p.refer {
        margin-top: 2rem; }
      section.post-content div > p {
        text-indent: 0.5rem; }
      section.post-content div p,
      section.post-content div li {
        font-size: 1rem; }
      section.post-content div ul,
      section.post-content div ol {
        padding-left: 1rem; }
    section .post-list-item,
    section .ads-container-relative-feedcard {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem; }
    section .post-list-item .post-thumbnail {
      height: 48vw;
      margin-bottom: 1rem; }
    section .post-list-item .post-description .post-intro {
      margin-left: 0.5rem; }
      section .post-list-item .post-description .post-intro h2 {
        margin-bottom: 0.25rem; }
      section .post-list-item .post-description .post-intro p {
        font-size: 0.75rem; } }

.top-nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  z-index: 10;
  padding-left: calc((100vw - 1152px) / 2);
  padding-right: calc((100vw - 1152px) / 2);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top: -56px; }
  .top-nav nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .top-nav nav .logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font: 800 1.125rem/1 "Nanum Myeongjo";
      color: #363059; }
      .top-nav nav .logo svg {
        width: 1.5rem;
        margin: 0 4px;
        fill: #363059;
        display: none;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .top-nav nav .logo:hover {
        color: #c2c2c2; }
        .top-nav nav .logo:hover svg {
          fill: #c2c2c2; }
      @media screen and (max-width: 660px) {
        .top-nav nav .logo .nosvg {
          display: none; }
        .top-nav nav .logo svg {
          margin: 0;
          display: block; } }
  .top-nav .dynamic-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .top-nav .dynamic-nav ul li a {
      padding: 4px;
      margin: 0 12px;
      font: 800 0.875rem/1 "Nanum Myeongjo";
      color: #514f59;
      display: block; }
      .top-nav .dynamic-nav ul li a:hover {
        color: #c2c2c2; }
      .top-nav .dynamic-nav ul li a.nav-item-act {
        background-color: #363059;
        color: #fff; }
      @media screen and (max-width: 660px) {
        .top-nav .dynamic-nav ul li a {
          padding: 4px 6px;
          font-size: 0.75rem;
          vertical-align: middle; } }
  @media screen and (max-width: 1152px) {
    .top-nav {
      padding-left: calc((100vw - 960px) / 2);
      padding-right: calc((100vw - 960px) / 2); } }
  @media screen and (max-width: 960px) {
    .top-nav {
      padding: 0 1rem 0 1rem; } }

footer {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.875rem;
  padding-left: calc((100vw - 1152px) / 2);
  padding-right: calc((100vw - 1152px) / 2);
  position: absolute;
  bottom: 0; }
  footer span a {
    margin-right: 1.5rem; }
    footer span a#home-page {
      font-family: "Nanum Myeongjo";
      font-weight: 800; }
    footer span a i {
      font-size: 1rem !important; }
    footer span a:last-child {
      margin-right: 0; }
  @media screen and (max-width: 1152px) {
    footer {
      padding-left: calc((100vw - 960px) / 2);
      padding-right: calc((100vw - 960px) / 2); } }
  @media screen and (max-width: 960px) {
    footer {
      padding: 0 1rem; }
      footer span a {
        margin-right: 0.75rem; }
        footer span a#mail-link .link-copy {
          display: none; }
        footer span a#rss-link {
          margin-left: 0.5rem; }
          footer span a#rss-link .link-copy {
            display: none; } }
  @media screen and (max-width: 660px) {
    footer {
      font-size: 0.75rem; }
      footer span a {
        margin-right: 0.5rem; }
        footer span a i {
          font-size: 0.875rem; }
        footer span a#rss-link {
          margin-left: 0; } }
