<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
{%- include head.html -%}
<body>
    {% if page.title != "error" and page.title != "about" %}
        {%- include nav.html -%}
    {% endif %}
    <div id="content" vocab="http://schema.org/" typeof="Blog">
        {{ content }}
    </div>
    {% if page.title != "error" and page.title != "about" %}
        {%- include footer.html -%}
    {% endif %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script src="{{ 'assets/dist/aos.js' | relative_url }}"></script>
<script>
    AOS.init({ duration : 500, easing: 'ease-in-sine', once: true });
    WebFont.load({
        custom: {
        families: ['Spoqa Han Sans']
        }
    })
</script>
</html>