<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ko" }}">
{%- include head.html -%}
<body>
    {% if page.title != "error" %}
        {%- include nav.html -%}
    {% endif %}
    <div id="content">
        {{ content }}
    </div>
    {% if page.title != "error" %}
        {%- include footer.html -%}
    {% endif %}
</body>
{% if page.title == "intro" %}
    <script type="text/javascript" src="{{ "/assets/view.js" | relative_url }}"></script>
{% endif %}
</html>