---
layout: base
---

<section class="intro-sec front">
    <div class="typography">
        <div class="tapestry">
            <div class="hole"></div>
        </div>
        <h1>DESIGN<br>TEATIME.</h1>
    </div>
    <nav class="static-nav">
        <ul>
            <li>
                <a class="select" href="{{ "/" | relative_url }}">Introduce</a>
            </li>
            <li>
                <a href="{{ "/article" | relative_url }}">Article</a>
            </li>
        </ul>
    </nav>
</section>
<section class="intro-sec about">

</section>