---
layout: base
---
<script>
    const introButtons = document.getElementsByClassName('btn-intro')
    const articleButtons = document.getElementsByClassName('btn-article')

    introButtons[0].classList.remove('select')
    articleButtons[0].classList.add('select')

    introButtons[0].href = '{{ "/" | relative_url }}'
</script>
<style>
    .top-nav {
        top: 0;
    }
</style>
<section class="post-content" property="blogPost">
    <meta property="author" content="dewberry9" />
    <h1 class="post-title" property="name">{{ page.title | escape }}<svg id="bubble" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 120"><circle cx="66.5" cy="13.5" r="13.5" fill="#b894e9"/><path d="M10 40a8 8 0 1 1-8 8 8 8 0 0 1 8-8m0-2a10 10 0 1 0 10 10 10 10 0 0 0-10-10zM130 94a3 3 0 1 1-3 3 3 3 0 0 1 3-3m0-2a5 5 0 1 0 5 5 5 5 0 0 0-5-5z" fill="#b894e9"/><circle cx="265" cy="114" r="6" fill="#b894e9"/><circle cx="46.5" cy="101.5" r="6.5" fill="#b894e9"/><circle cx="351" cy="69" r="7" fill="#b894e9"/><circle cx="198" cy="38" r="5" fill="#b894e9"/><path d="M390 2a8 8 0 1 1-8 8 8 8 0 0 1 8-8m0-2a10 10 0 1 0 10 10 10 10 0 0 0-10-10zM298 29a1 1 0 1 1-1 1 1 1 0 0 1 1-1m0-2a3 3 0 1 0 3 3 3 3 0 0 0-3-3zM296.5 80a11.5 11.5 0 1 1-11.5 11.5 11.51 11.51 0 0 1 11.5-11.5m0-2a13.5 13.5 0 1 0 13.5 13.5 13.49 13.49 0 0 0-13.5-13.5zM153 6a6 6 0 1 1-6 6 6 6 0 0 1 6-6m0-2a8 8 0 1 0 8 8 8 8 0 0 0-8-8z" fill="#b894e9"/></svg></h1>
    <span class="post-date" property="dateCreated">{{ page.date | date: '%Y-%m-%d' }}</span>
    <div property="articleBody">
        {{ page.content }}
    </div>
</section>